.form-control:focus {
  background-color: black;
  color: white !important;
}

.form-floating > .form-control:focus {
  background-color: rgb(0, 0, 0);
}

.form-floating > .form-control:focus::placeholder {
  color: black !important;
}

.form-floating > label {
  top: -4px !important;
  background-color: black;
  padding: 0 !important;
  left: 20px !important;
  height: 24px !important;
}

.form-floating > label::after {
  background-color: black !important;
  color: white !important;
}

/* After click */
/* #contactInfo > div:nth-child(1) > div > form > div:nth-child(1) > div > label {
  color: rgb(255, 255, 255) !important;
  background-color: black !important;
  width: 55px;
  text-align: center;
} */

/* Before click */
/* #contactInfo > div:nth-child(1) > div > form > div:nth-child(1) > div > label {
  color: rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  width: 55px;
  text-align: center;
  top: 20px !important;
} */
